button {
    @extend %button;
    &.warn {
        color: #cc5511;
        text-shadow: none;
    }

    &:focus {
        outline: none;
    }
}

.with-tooltip {
    @extend %tooltip-container;
    
    .tooltip {
        @extend %tooltip;
    }
}
