.color-list {
    @extend %item-list;

    &__color {
        @extend %item;
        height: 150px;

        &__index, &__description, &__controls {
            @extend %item__meta;
        }
        &__index, &__description {
            @extend %item__meta--center-x;
        }
        &__description {
            @extend %item__meta--bottom;
        }
        &__index {
            @extend %item__meta--top;
        }
        &__controls {
            @extend %flex-row;            
            @extend %item__buttons;
            @extend %item__meta--hidden;
            @extend %item__meta--center;

            width: 100%;

            button {
                @extend %tooltip-container;
                text-shadow: none;
                font-size: 2rem;
                background: $color-background;
                color: $color-text;
                border-radius: 4px;

                + button {
                    margin-left: 5px;
                }

                span {
                    @extend %tooltip;
                    @extend %tooltip--above;
                }
            }
        }
    }
    &__add-button {
        @extend %item-list__add-button;
    }
}
