@import '../common';

aside {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;

    width: $container-width;
    min-width: 40vw;
    max-width: 80vw;
    z-index: 11;

    padding: $padding-small $padding-small $padding-large;

    transform: translateX(100%);
    transition: all .5s ease-in-out;

    background-color: $color-border;

    .show-aside-button,
    .form {
        box-sizing: border-box;
        box-shadow: -5px 2px 5px rgba($color-text, .3);
    }

    .show-aside-button {
        transition: all .3s ease-in-out;
        position: absolute;
        left: 0;
        top: 50%;

        width: 40px;
        height: 60px;
        z-index: 10;

        transform: translate(-100%, -50%);

        border: none;
        background-color: $color-border;
        color: $color-background;

        cursor: pointer;

        &:hover {
            width: 60px;
        }

        &:focus {
            outline: none;
        }
    }

    .form {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: $padding-small $padding-small $padding-large;

        overflow-y: auto;

        text-align: center;

        h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin: $margin-large 0 $margin-small;
            text-align: center;
        }

        .colors,
        .fonts {
            margin: 0 0 $margin-small;
        }

        .item-input {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            margin: 0 auto;
            padding: $padding-small $padding-small $padding-small 2.5rem;

            .item-name {
                font-weight: normal;
                font-size: 1.2rem;
            }

            .show-hide-edit {
                cursor: pointer;
                margin-left: .5em;

                &:hover {
                    color: $color-highlight;
                }
            }

            input,
            select,
            option,
            button {
                margin-top: 1.6rem;
            }

            label {
                position: relative;

                >span {
                    display: block;
                    position: absolute;
                    left: $padding-small;
                    top: 1px;
                    font-size: .8rem;

                    >span {
                        color: $color-background;
                    }
                }
            }
        }

        input,
        select,
        option,
        button {
            box-sizing: border-box;
            display: inline-block;
            width: auto;
            flex-grow: 0;
            padding: $padding-small $padding-medium;
            margin: $padding-small;

            font-family: inherit;
            font-size: 1rem;
            font-weight: normal;

            border: none;

            background-color: $color-background;
            color: $color-text;
        }

        button {
            transition: all .3s;
            cursor: pointer;

            &.remove-button {
                margin-left: -60px;
            }

            &:not(.show-aside-button):hover {
                box-shadow: 0 0 5px rgba($color-text, .1);
                transform: translateY(-1px);
            }
        }

    }

    &.active {
        transform: translateX(0);

        .show-aside-button {
            height: 80px;
        }
    }
}