main {
    @extend %flex-container;
    margin-top: $margin-medium;
    margin-bottom: $margin-medium;
    min-height: 80vh;
    padding: $padding-large 0;
}

.preview {
    width: 100%;

    .color-preview, .font-preview, .preview-legend .legend-item {
        @include transition($speed: $speed-fast);
    }
    .fonts {
        @include flex($direction: column, $align: flex-start);
        width: 100%;
        padding: $padding-large $padding-medium $margin-large;
    }

    .item {
        position: relative;
        cursor: pointer;

        span {
            @include transition;
            position: absolute;
            opacity: 0.1;

            &.index {
                @include center-absolute-y;
                display: block;
                left: -4rem;
                width: 4rem;
                font-size: 1rem;
                text-align: center;
            }

            &.description {
                display: block;

                font-family: $font-family !important;
                font-size: .8rem !important;
                font-weight: normal !important;
                text-align: center;
            }
        }

        &.font {
            margin: $margin-medium;
            margin-left: 4rem;
            span.description {
                left: 0;
                bottom: -1rem;
            }
        }

        &.color {
            span {
                @include center-absolute-x;
                &.index {
                    top: -1.5rem;

                    font-weight: bold;
                    font-size: 1.2rem;
                }
                &.description {
                    @include center-absolute-x;    
                    bottom: -2rem;
                    width: 200px;
                    height: 2rem;
                    padding-left: 1em;
                }
            }
        }

        &:hover {
            span {
                opacity: 1;
            }
        }
    }

    .preview-legend {
        $box-side: 2rem;
        position: relative;
        width: 2 * $box-side;
        height: 2 * $box-side;
        margin-top: $margin-medium;
    
        cursor: pointer;
    
        .legend-item {
            position: absolute;
            width: $box-side;
            height: $box-side;
            left: 0;
            top: $box-side / 2;
    
            &:first-child {
                z-index: 5;
                top: 0;
                left: $box-side / 2;
            }
        }
    }
}
.code-example {
    @extend %slide-in-container;

    button, pre {            
        font-family: $font-family-mono;
        font-size: 1.1rem;
    }
    button {
        @extend %slide-in-container__button;
        @extend %slide-in-container__button--position-1;
    }
    pre {
        @extend %slide-in-container__content;
    }

    &, button, pre {
        background-color: $color-text;
        color: $color-background;
    }
}

