@mixin container {
    width: $container-width;
    max-width: 96%;
    margin: 0 auto;
}

@mixin mobile-only {
    @media (max-width: $mobile-width) {
        @content;
    }
}

@mixin desktop-only {
    @media (min-width: $mobile-width + 1) {
        @content;
    }
}

@mixin flex($display: flex, $direction: row, $justify: center, $align: center, $wrap: wrap) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin transition($elements: all, $speed: $speed-medium, $timing: ease-in-out) {
    transition: $elements $speed $timing;
}

@mixin center-absolute($position: absolute) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

@mixin center-absolute-x($position: absolute) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-absolute-y($position: absolute) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}
