%klrized {
    &>span {
        &:first-child {
            color: $color-border;
        }

        &:last-child {
            color: $color-highlight
        }
    }
}

%slide-in-container {
    @include transition($speed: $speed-fast);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    height: 100vh;
    width: $container-width;

    max-width: 50vw;
    
    transform: translateX(100%);

    background-color: $color-border;

    &--show-preview {
        transform: translateX(99%);
    }

    &.active {
        transform: translateX(0);
        box-shadow: -5px 0 5px rgba($color-text, .2);
        z-index: 12;
    }

}
%slide-in-container__button {
    @include transition($speed: $speed-fast);
    $button-height: 60px;
    $button-width:  40px;

    position: absolute;
    left: 0;
    width: $button-width;
    height: $button-height;
    transform: translate(-100%, -50%);

    border: none;
    background-color: inherit;
    color: inherit;

    cursor: pointer;

    @for $n from 1 through 4 {
        &--position-#{$n} {
            bottom: ($n * ($button-height + $padding-small)) + ($button-height); 
        }
    }
    &:focus {
        outline: none;
    }
}

%slide-in-container__content {
    position: absolute;

    top: 0;
    left: $padding-medium;
    right: $padding-medium;
    bottom: 0;

    padding: $padding-small $padding-small $padding-medium;

    overflow-y: auto;
}

%flex-column {
    @include flex($direction: column);
}
%flex-row {
    @extend %flex-column;
    flex-direction: row;
}
%flex-container {
    @extend %flex-column;
    @include container;
}

%button {
    @include transition($speed: $speed-fast);
    cursor: pointer;
    border: none;

    font-size: 1.3rem;

    color: $color-text;
    background: transparent;

    text-shadow: 1px 1px $color-text;


    &--inverted {
        color: $color-background;
        &--filled {
            background-color: $color-text;
        }
    }

    &--filled {
        background-color: $color-background;
        text-shadow: none;
    }
}


$item-meta-height: 30px;
%item-list, %item {
    position: relative;
    margin-top: $item-meta-height;
    margin-bottom: $item-meta-height;
}
%item-list {
    margin-left: $item-meta-height * 2;
    margin-right: $item-meta-height * 2;

    &__add-button {
        @extend %tooltip-container;
        @extend %button;
        position: absolute;
        font-size: 2rem;
        right: 0;
        bottom: 0;
        opacity: .2;
        &:hover {
            opacity: 1;
        }
        span {
            @extend %tooltip;
            @extend %tooltip--inverted;
            @extend %tooltip--left;
        }
    }
} 
%item {
    animation: growIn $speed-fast ease-in-out 1;

    &__meta {
        @include transition($speed: $speed-fast);
        position: absolute;
        height: $item-meta-height;

        font-size: .8rem;
        opacity: .2;

        &--hidden {
            opacity: 0;
        }

        &--top, &--top-left, &--top-right {
            top: -$item-meta-height;
        }
        &--bottom, &--bottom-left, &--bottom-right {
            bottom: -$item-meta-height;
        }
        &--left, &--top-left, &--bottom-left {
            left: 0;
        }
        &--right, &--top-right, &--bottom-right {
            right: 0;
        }
        &--center, &--center-x {
            left: 50%;
        }
        &--center, &--center-y {
            top: 50%;
        }
        &--center {
            transform: translate(-50%, -50%);
        }
        &--center-x {
            transform: translateX(-50%);
        }
        &--center-y {
            transform: translateY(-50%);
        }
    }
    &:hover &__meta {
        opacity: 1;
    }

    &__buttons {
        button {
            @extend %button--inverted;
        }
    }
}

%tooltip-container {
    %tooltip {
        @include transition($speed: $speed-fast);
        display: block;
        white-space: pre-line;
        position: absolute;
        top: 50%;
        right: 0;

        padding: .25rem .5rem;

        font-size: .8rem;
        font-weight: normal;

        background-color: $color-text;
        color: $color-background;
        box-shadow: 2px 2px 2px rgba($color-text, .2);
        text-shadow: none;

        opacity: 0;
        
        transform: translate(100%, -100%);

        &--inverted {
            background-color: $color-lighter-background;
            color: $color-text;
        }
        &--above {
            left: 50%;
            right: auto;
            transform: translate(-50%, -300%);
        }
        &--left {
            right: auto;
            left: 0;
            top: 50%;
            transform: translate(-200%, -50%);
        }
    }
    &:hover %tooltip {
        opacity: 1;
        transform: translate(100%, -50%);
        &--above {
            transform: translate(-50%, -200%);
        }
        &--left {
            transform: translate(-110%, -50%);
        }
    }
}
