$container-width: 1200px;
$mobile-width: 600px;
$gutter-width: 30px;

$columns: 12;

$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 40px;

$padding-small: 5px;
$padding-medium: 15px;
$padding-large: 30px;

$color-background: #e8e9ea;
$color-lighter-background: #fcfeff;
$color-text: #222;
$color-border: #abc;
$color-highlight: #0af;

$font-family: 'DM Sans', sans-serif;
$font-family-mono: 'Cutive Mono', monospace;
$font-size: 18px;

$speed-fast: .25s;
$speed-medium: .5s;
$speed-slow: .75s;